files:
  /etc/pki/tls/certs/server.crt:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN CERTIFICATE-----
MIIFIzCCAwugAwIBAgIUHt0MeefTrjVrnd11uKc3MOezfw0wDQYJKoZIhvcNAQEL
BQAwITEfMB0GA1UEAwwWKi5lbGFzdGljYmVhbnN0YWxrLmNvbTAeFw0yMTA4MjMx
ODE0MTRaFw0yMjA4MjMxODE0MTRaMCExHzAdBgNVBAMMFiouZWxhc3RpY2JlYW5z
dGFsay5jb20wggIiMA0GCSqGSIb3DQEBAQUAA4ICDwAwggIKAoICAQC+/Ft/yHhd
FC0sjSqjj2UeBdzLIT+jv0LPkylJ9lJkgWo/OqBCBjk6A9Huke8WalhFuM2wtvr4
znQC62F9x0SBowqVK68z7aU8V/X4KP/ZlQZQKPBSdEAFnIxqy2BjBUVK/3jAXp9g
8pIQTiNpkMt6YvdhZUbMr44a2kQjqx5fPK3TfxaZgNhM75m7/OBwnfij576th+za
iM5hU60TVFYMfCxjiBVXc6XZFK/9qk1NFawDY00vxoLL1/CTaaLnpK4Q5V529go6
BXJEKUBtL1gge5fJduAK3HQ/+XD1uq8vSOKw3bkdDZrj+4H57sD4G4aq15pn1IYh
3LSkkRvg6qxddAPdK7UeT+xePWrUY30EpQxQq2SS2dwMT3mzjjxXpiuq1uFaZbPJ
GSa/gjWhlVfP82UK5tRQJYieHpPjQnmZpttNMgTzV50n0BRM5QUbUmqjD0QAprDI
hBbtAnCfsXLO3tLivTM7tcF90D7OVh5UDHZeMpwcjyZzZKsATL+LqPkG4xMDjLRH
4ysN5KVqHHmd1f8yWFT78YrpiYmJCs4Avz95ZzewiyYI5c/3Epl4p14guu+xzYNQ
j3GvmtDxZ4/ZPXgR2iRU/b/tiz66kfxt8OZtvQQa52nK2NCbUDDzR1060WkFZV3Z
CpWcyrLawiPweHh1R0/iSyZ5q3gZP9q2OQIDAQABo1MwUTAdBgNVHQ4EFgQUz12S
zeOIRhJ3jGsVR9NYrAqONcwwHwYDVR0jBBgwFoAUz12SzeOIRhJ3jGsVR9NYrAqO
NcwwDwYDVR0TAQH/BAUwAwEB/zANBgkqhkiG9w0BAQsFAAOCAgEAr5n+crUvXK4L
G1cgPfj7IXTsKE4TS36Uot0LOwzA1D4DQHT8e8sRzhQ3bCZ3QsP8gZfgOOd45VWH
tOvkJ0zJQkqAcVJddQtJRuOLjif5Q+sXTc2ZEY7AFgTk/pM8G0mkCzpjhI4o+aBu
DPgfMp6AyABCcM27j9g6BreSbn9qhlQmz832pKr6yqUESjXbCDPybofjvFFVF+Af
oNOtEwOvjOy4QgV/Ym/OBNmDa5JG4nsaP2fpCBM/gz72yEK6GWHMvF372EZwf2fN
UrK9hyUwSdl8DZnie7nOkt0rBJXL1wRblG3/37Dx37TPp7iGo5UXgnRm95HF2/YQ
xoY0obAzt4zwirm+pUaCzHfHHSi+bHvHyqHhpDdYKKGFa9JenlYq1dbPQQjtTaho
GB7tiamy0AYlPelIEETijsD5BmR/yOPAdKn0dfEn1aGqlJ9zVWQk+N884ccwA54j
c0+OhcrIxL2Hi64piNokiiya4v/Sml/Wr9TsEwjhojX5jxCHQSE3/rLbW+pZp3zD
UqggDUTdylPHgwA3AkvOu1N0cabkc9/YNkgBrAGwLDobUuCbcOm5wCRVqES1yGbl
6I6mQGiMEaNg2NZ6xX+Qmgr04rl+L4vftEWwhd2Y9rASX45hEdDYc1qIDipHC598
buFkKTGZ2Dk+IFKj3dvgoNbft+1MPSQ=
-----END CERTIFICATE-----

  /etc/pki/tls/certs/server.key:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN RSA PRIVATE KEY-----
MIIJKgIBAAKCAgEAvvxbf8h4XRQtLI0qo49lHgXcyyE/o79Cz5MpSfZSZIFqPzqg
QgY5OgPR7pHvFmpYRbjNsLb6+M50AuthfcdEgaMKlSuvM+2lPFf1+Cj/2ZUGUCjw
UnRABZyMastgYwVFSv94wF6fYPKSEE4jaZDLemL3YWVGzK+OGtpEI6seXzyt038W
mYDYTO+Zu/zgcJ34o+e+rYfs2ojOYVOtE1RWDHwsY4gVV3Ol2RSv/apNTRWsA2NN
L8aCy9fwk2mi56SuEOVedvYKOgVyRClAbS9YIHuXyXbgCtx0P/lw9bqvL0jisN25
HQ2a4/uB+e7A+BuGqteaZ9SGIdy0pJEb4OqsXXQD3Su1Hk/sXj1q1GN9BKUMUKtk
ktncDE95s448V6YrqtbhWmWzyRkmv4I1oZVXz/NlCubUUCWInh6T40J5mabbTTIE
81edJ9AUTOUFG1Jqow9EAKawyIQW7QJwn7Fyzt7S4r0zO7XBfdA+zlYeVAx2XjKc
HI8mc2SrAEy/i6j5BuMTA4y0R+MrDeSlahx5ndX/MlhU+/GK6YmJiQrOAL8/eWc3
sIsmCOXP9xKZeKdeILrvsc2DUI9xr5rQ8WeP2T14EdokVP2/7Ys+upH8bfDmbb0E
GudpytjQm1Aw80ddOtFpBWVd2QqVnMqy2sIj8Hh4dUdP4ksmeat4GT/atjkCAwEA
AQKCAgAWXoBpCxXt8PsJiM9BsP3q8kzWDeLiTviIT3g6jXtBAldraHZ0xT3WqbPg
+X7DZVlJcUfGNuhWU/gKj38vuDMx6+LFbgRrVJ5R3wuUMVkmJupCYUkknzEQdzGL
IJ79ehSPoDSIc4y/UioBduV269qpTwYihjYwqy89verVMqmwBe9mIjCHcivjdvzO
o+O1zQreR7pxoMYBIpzpkV9oMCyT8cdRMRMu1wDJ2D50u4mqSauICg10Vw/iyDwJ
SAooj4VDvVm/HTo9aX3kteAx6aWsyE0S77V2EDQdeh3c6iyyoRrMFGwmFv3ZTg//
MhOv+6leQTp4hs/fD3ao/8YAJfxiEdAQLmolYn1aFcZoQk8BXzFWMLmo/R42KCbu
G/ioes20Vt5+a0KruJaIe2kiVAPGnQUMDgsqWokpf4sgO16dw0g+0wFk4ej5iECI
QsYRBZ0wIHuFH5Xt7bKIAZhTqK6Eoc/c5433K/oo/157iKbclfus8tEsjpjIwwoU
Ik0CMwg8jTUKOGSKM5jNe+u9fqgo0GqncsZx5T+DeWb7PH0w+6juUARp7MxHyXcB
LjO/x1p5fHI8mjx2+ie3Azj5iDAwMFgba/TnLYw4LqHQ/YxfjAXvKBj/YnD085Nr
M8SRxwxwoK16PoAhmoUuVcuWanCRO7QirT/eQpPaz6zoQ17AAQKCAQEA7iEugUJQ
S/os2bsm7zIZMt8AfiEM7V3HpbJ//fXaNc7tCP5neTnnGwDARxStowSRC3CNZHHR
n2kwuUwt9LlrGcFpG8wTMuDmHLW61edjKcUBbDPyh1NLuo2AgJ2i3f1OW5I2rbSk
06ucRbwvxwrPFTSMirOHlxQEBZDUIyMBW9025cQFvC9tEnzL2Q/OMwkSeXDEpJaf
JTcprgk5bYXjOX4v3p9mNlauZjblBkmrkVKiSsLqDi21M61KZ4CZzXoUkHkuP1A6
70JCgmSpXByl2BA0DkGoT+jjki3oAD7LmqMTIzi/OSsI2SM0Oea8CU0LS6yxzvZ8
CWMN+5TTPpluAQKCAQEAzVF5ONhUuyZ3uMfjl4kYmKPctvDBmHnj3gkpD7dVb59W
iAW5Xl2iprHEeAo3aPvHe+j7VqeVaZc4z7b5QYQc4PHMxCwSl8zRM4ArwyHclqFw
FrwXW22UJStRbBGC/uAuMTGBypAbjd0m/jAUYef9IjQ/XP+udORutdpM1WVtnkUM
PUnw9ceaYIWq4DAK0rS7Gb1B5fkrt1X+QmgCqJtPQNr33AOdZpzGOs1o2mNYY3oO
jJlVzj1rpXL7DBgFYxDR3Wk4C/F6sSEHYzt2wE0Ag2BTGEaqxeqUJfCD2Rd0y1X6
9AV83lht65WZKIut7dWSdMmu4UCaVfhV0x2SkaE4OQKCAQEAkZDbGszsxOUTka2k
KUgYu04ywOd3PYq8RoANWbN2RrpNj9fkbOiGa61T3J+5XROnjrSo2iPxnl7xF/SH
izflToM6u3FOsyVjxV0Z7zRZG+l/6yL+ONckTc++I+E49DaqNbP1lM3+jB41kzNs
iWIEINRUrVz9n87ufnCAHVKCvCNIMcBYOSdMp6Z9/hx5Uh1Tm8ThkDM66ccExYyB
/H+B3V1T6eTK2KC4T2dzLRrPtDAtYUIxTaWHRSXDe+3TFxZvh7lsGevzetqoSYk7
NkGU57VP/P8J4n9czbkePzgjwk25nyhLTKkP6ZxpipOPkqf0JbhVoUxvmlVg8M+T
KoskAQKCAQEAuJT0bBxgIFg27ZIWk9cWm7NE69qJ0TBToPuPRKfHUTBoNKUgvyti
3IWYYWqd4e3oqwcLXh4O/vyKgIK4lyPUao43Tm1o0bu6n5gsv6Kjk2/TOz0hqnpa
4weMjaE4qTaVkHg3fQoNG36kXYSP7m0Hb0aVaGAcUM5EkYyN4pLq94yPslHVJMCr
kvbYZfAK6t68DinNIpjdqlbO3JhxO29U0rOIfO1rBiMPOzILf7osblH+3nvDXkRt
kDJMa9T0ktk+MtUzI9mWOcO9xoJhAgS332Qrj/mH8aIwSeNuRS8HOv4zPEnqtmG9
gDvfk0nvtY95uTDP3YWcuoklb0R4zh+oUQKCAQEAny6ZpjIUQC0ja91G0vQo0OpM
TgopAzUl4Va7NI1jjs00MBckBIXT2/C5k6Cubj66uGVj+9WL2vrMDjjNTkQreqI7
kU0nEsD9P4mAzn38v1YZO86be6SumWyOElOw9/X3hMo1YmsI5CmzQPsU6ANk5IVH
eD9MRHErCC0ezz4C5gMB5q87pMdwAT+aURya1LP2bHmhu/5cSoEBJ5kFx7OeES6r
+kyGFQ0vLoGGY9MLj4D9sKKwRHjsr03bzK1RwzAHEdkD59dx1uXF2F252m+dnoDi
MwBNWDK9OjQqzDlUNbz38bfGT52mazkMKtv5qBFEnEO1irvo4DnIkjJD9zjfBQ==
-----END RSA PRIVATE KEY-----
