.auth-wrapper {
    height: 100vh;
    display: flex;
    align-items: center;
    /* width: 100%; */
    /* max-width: 450px; */
}

.login-form-block {
    width: 100%;
    max-width: 450px;
    margin: auto;
}

.login-form-block .login-brand {
    display: block;
    text-align: center;
    margin-bottom: 40px;
}
.auth-form .auth-head {
    text-align: center;
}

.auth-head h3 {
    font-size: 20px;
    color: #3f4254;
}

.auth-head p {
    font-size: 14px;
    color: #b5b5c3;
    margin-bottom: 40px;
}

.auth-body .form .form-control {
    background-color: #f3f6f9;
    border-color: #f3f6f9;
    color: #3f4254;
    height: 50px;
    font-size: 15px;
    padding: 5px 20px;
}

.authTwo-link-block{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.forgotPass-link{
    font-size: 14px;
    color: #888888;
    font-weight: 300;
}

.checkbox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    text-align: left;
    cursor: pointer;
    font-size: 14px;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    margin: 0;
    color: #888888;
}
.checkbox-inline .checkbox span {
    margin-right: 10px;
}
.checkbox>span {
    background-color: #ebedf3;
    border: 1px solid transparent;
}
.checkbox>span {
    height: 18px;
    width: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    border-radius: 5px;
}
.checkbox>span:after {
    content: "";
    width: 5px;
    height: 10px;
    border-color: transparent;
    border-style: solid;
    border-width: 0 2px 2px 0!important;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    margin-top: -2px;
}

.checkbox>input:checked~span {
    background-color: #3699ff;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}
.checkbox>input:checked~span:after {
    display: block;
    border-color: #fff;
}
.auth-submit-block {
    margin-top: 50px;
}
.auth-submit-block .btn{
    font-size: 15px;
    min-width: 110px;
    padding: 10px 20px;
}

.text-btn {
    padding: 0;
    background: transparent;
}

.otp-form-group{
    display: flex;
    justify-content: space-between;
}
.auth-body .form .otp-form-group input{
    width: 4em !important;
    padding: 5px;
    text-align: center;
}