.alert-icon {
    font-size: 80px;
    color: #f15e5e;
    margin-bottom: 10px;
}

.alert-body, .alert-footer-box {
    text-align: center;
}

.alert-body h2 {
    font-size: 26px;
    margin-bottom: 16px;
}

.alert-body p {
    font-size: 15px;
}

.alert-body {
    margin-bottom: 40px;
}

.alert-footer-box .btn-secondary {
    background: #c1c1c1;
    border-color: #c1c1c1;
}

.alert-footer-box .btn {
    min-width: 110px;
}

.alert-footer-box .btn + .btn {
    margin-left: 13px;
}

.alert-footer-box {
    padding-bottom: 10px;
}